@{
    ViewData["Title"] = "Login";
}

@section Styles {
    <link rel="stylesheet" href="~/Css/login.css" />
}

<div class="wrapper">

    <!-- SIGN UP -->
    <div class="form-container sign-up">
        <form asp-action="Register" asp-controller="Login" method="post">
            <h2>Sign Up</h2>

            <div class="form-group">
                <input type="text" name="Username" required />
                <i class="fas fa-user"></i>
                <label>Username</label>
            </div>

            <div class="form-group">
                <input type="email" name="Email" required />
                <i class="fas fa-at"></i>
                <label>Email</label>
            </div>

            <div class="form-group">
                <input type="password" name="Password" required />
                <i class="fas fa-lock"></i>
                <label>Password</label>
            </div>

            <div class="form-group">
                <input type="password" name="ConfirmPassword" required />
                <i class="fas fa-lock"></i>
                <label>Confirm Password</label>
            </div>

            <button type="submit" class="btn">Sign Up</button>

            <div class="link">
                <p>
                    You already have an account?
                    <a href="#" class="signin-link">Sign In</a>
                </p>
            </div>
        </form>
    </div>

    <!-- SIGN IN -->
    <div class="form-container sign-in">
        <form asp-action="Login" asp-controller="Login" method="post">
            <h2>Login</h2>

            <div class="form-group">
                <input type="text" name="Username" required />
                <i class="fas fa-user"></i>
                <label>Username</label>
            </div>

            <div class="form-group">
                <input type="password" name="Password" required />
                <i class="fas fa-lock"></i>
                <label>Password</label>
            </div>

            <div class="forgot-pass">
                <a href="#">Forgot password?</a>
            </div>

            <button type="submit" class="btn">Login</button>

            <div class="link">
                <p>
                    Don't have an account?
                    <a href="#" style="color:blue" class="signup-link">Sign Up</a>
                </p>
            </div>
        </form>
    </div>

</div>

@section Scripts {
    <script src="~/Js/login.js"></script>
}
